<!DOCTYPE html>
<html>
<head>
    <title>Gift Ideas</title>
</head>
<body>
    <h1><a href="https://www.goodreads.com/review/list/143302854-pavocracy?shelf=to-read&sort=rating">Books</a></h1>
    <h1><a href="https://boardgamegeek.com/collection/user/Pavocracy?sort=avgrating&sortdir=desc&rankobjecttype=subtype&rankobjectid=1&columns=title%7Cthumbnail%7Cstatus%7Crank%7Cavgrating&geekranks=Board%20Game%20Rank&wishlist=1&objecttype=thing&ff=1&subtype=boardgame">Board Games</a></h1>
    <h1><a href="https://store.steampowered.com/wishlist/profiles/76561197984394466/#sort=reviewscore&platform=">PC Games</a></h1>
</body>
</html>