<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" />
	<meta charset="UTF-8">
	<meta name="author" content="Adam Pavey">
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
<footer>
	{% block footer %}
	{% endblock %}
</footer>
</html>